@model PerfumeStore.Helpers.ProductsViewModel

@{
    ViewData["Title"] = "Index";
    
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script>
        alert("@ViewBag.Message");
    </script>
}





<section class="row">
    <aside class="col-4">

    </aside>
    <section class="col-8">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                <div class="col-md-3">
                    <h3>Name: @item.Name</h3>
                    <h3>Description: @item.Description</h3>
                    <h3>Price: @item.Price</h3>
                    <form method="post" action="/Home/AddToCart">
                        <input type="hidden" name="productId" value="@item.Id" />
                        <label>Quantity:</label>
                        <input type="number" name="quantity" value="1" min="1" />
                        <button type="submit">Add to Cart</button>
                    </form>
                </div>

                
            }
        </div>
    </section>
</section>


<!-- Display pagination links -->
@if (Model.TotalPages > 1)
{
    <div>
        @if (Model.CurrentPage > 1)
        {
            @Html.ActionLink("Previous", "Index", new { page = Model.CurrentPage - 1 })
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                @i
            }
            else
            {
                @Html.ActionLink(i.ToString(), "Index", new { page = i })
            }
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            @Html.ActionLink("Next", "Index", new { page = Model.CurrentPage + 1 })
        }
    </div>
}
